<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>로그인 실패 페이지</title>
  </head>
  <body>
    <h1>로그인 실패</h1>
    <div><p>사용자 아이디 : <%=userid%></p></div>
    <div><P>일치하는 사용자 아이디가 없거나 잘못된 패스워드를 입력하였습니다.</P></div>
    <br><br><a href="/public/login.html">다시 로그인하기</a>
  </body>
</html>